.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8fc;
    border-radius: 50px;
    padding: 20px 20px;
    margin: 20px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 40px;
    width: 120px;
  }
  
  .navLink {
    text-decoration: none;
    color: #171420;
    margin: 0 10px;
    font-size: 1rem;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    border-radius: 20px;
    color: white;
    background-color: #6c63ff;
  }
  
  .navItems {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 35px;
    height: 35px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .logoutButton {
    background-color: #171420;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .logoutButton:hover {
    background-color: #444;
  }
  